/*============================GENERAL============================*/



.wrap {
	margin: 0 auto;
	width: 95%;
	max-width: 942;
}

p {
	font-family: Georgia, Times, serif;
}
/*============================ADVERTISEMENT============================*/


.ad-top {
	padding: 10px 0;
	max-height: 110px;
	background-color: #f2f2f2;
}



/*============================HEADER============================*/

header {
	background: rgb(24,24,22); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(54,62,65), rgb(24,24,22)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(54,62,65), rgb(24,24,22)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(54,62,65), rgb(24,24,22)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(54,62,65), rgb(24,24,22)); /* Standard syntax */
	padding: 20px 0;
	max-height: 140px;
}

.logo {
	margin-top: 10px;
}


.weather {
	float:left;
	width: 120px;
	padding: 10px 15px 10px 0;
	margin-right: 20px;
	border-right: 1px solid #404145;
	height: 100px;
}

.weatherR {
	float:left;
	width: 120px;
	padding: 10px 15px 10px 0;
	margin-right: 20px;
	height: 100px;
}


.weather h1 {
	font-family: Georgia, Times, serif;
	font-size: .85em;
	color:#868b8f;
	margin-bottom: 5px;
	text-align: center;

}

.weather a {
	color: #ff9900;
	font-size: .55em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}

.weather a:hover {
	color: #ffb74a;
	font-size: .55em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}

.weather p {
	margin: 0;
	text-align: center;
	line-height: .6em;
	padding-top: 2px
	font-family: Helvetica, Arial, sans-serif;
}

.weatherR h1 {
	font-family: Georgia, Times, serif;
	font-size: .85em;
	color:#868b8f;
	margin-bottom: 5px;
	text-align: center;
}

.weatherR a {
	color: #ff9900;
	font-size: .55em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}

.weatherR a:hover {
	color: #ffb74a;
	font-size: .55em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}

.weatherR p {
	margin: 0;
	text-align: center;
	line-height: .6em;
	padding-top: 2px
	font-family: Helvetica, Arial, sans-serif;
}

.degrees {
	font-size: 2em;
	color: white;
	margin: 0;
	padding: 14px 0;
	font-family: Helvetica, Arial, sans-serif;
}

.headerR {
	float: left;
	height: 100px;
	padding: 10px 0;
}

.login p {	
	font-size: .65em;
	line-height: 1.2em;
	margin-top: 0;
	padding: 0;
	margin: 0 0 0 37px;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}

.login a {
	font-size: 100%;
	color: white;
	font-weight: bold;
	text-transform: none;
}

.login a:hover {
	font-size: 100%;
	color: #dcdcdc;
	font-weight: bold;
	text-transform: none;
	vertical-align: 
}
.date {
	margin-top: 29px;
}
.date p{
	color: white;
	font-size: .8em;
	text-align: middle;
	line-height: 1.2em;
}
