			<div class="wrap">
				<div class="row">
					<div class="large-5 column">
						<a href="#"><img class="logo" src="img/logo-large.png" /></a>
					</div>
					
					<div class="large-7 column">
						<div class="float-right">
							<div class="weather">
								<h1>Minneapolis</h1>
								<img class="float-left"src="img/cloudy.png" /><p class="degrees"> 24&deg;</p>
								<p><a href="#">Get Forecast&raquo;</a></p>
							</div>
							
							<div class="weather">
								<h1>Rochester</h1>
								<img class="float-left"src="img/cloudy.png" /><p class="degrees"> 21&deg;</p>
								<p><a href="#">Get Forecast&raquo;</a></p>
							</div>
							
							<div class="weatherR">
								<h1>Duluth</h1>
								<img class="float-left"src="img/cloudy.png" /><p class="degrees"> -5&deg;</p>
								<p><a href="#">Get Forecast&raquo;</a></p>
							</div>
							
							<div class="headerR">
								<div class="login">
										<div class="float-left"><img src="img/login.png"/></div>
									
									<p><a href="#">Log In</a></p>
									<p><a href="#">Create Account</a></p>
								</div>
								<div class="date">
									<p>Wednesday,<br />
									February 3, 2015</p>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
